---
  import { db, GalleryImage, desc } from 'astro:db';
  import { getMonthName } from '@src/utils/date';
  import ImgViewer from '@src/components/common/ImgViewer.astro';
  import Icon from '@src/components/common/Icon.astro';
  import CustomModal from '@src/components/common/CustomModal.astro';

  const imagesUrl = (
    await db
    .select()
    .from(GalleryImage)
    .orderBy(desc(GalleryImage.uploadedAt))
    .run()
  )
  .rows
  .map(image => {
    const date = new Date(image.uploadedAt as string);

    return {
      id: image.id,
      path: `${Astro.url.origin}/${image.path}`,
      uploadedAt: `${date.getDate()} ${getMonthName(date.getMonth()).slice(0, 3)}. ${date.getFullYear()}`
    }
  })

---

<ImgViewer />

<section class="bg-gray0 p-5 rounded-md max-h-[500px] outline-2 outline-gray1 overflow-auto flex flex-col gap-5 w-[500px] max-w-[95%]">
  {imagesUrl.length == 0 && (
    <p class="text-center font-bold text-xl text-gray2">No hay imágenes en la galería 😔</p>
  )}
  {imagesUrl.map(image => (
    <div class="flex justify-between items-center gap-3 bg-gray1 p-4 rounded-md">
      <div class="flex flex-wrap items-center gap-3">
        <img src={image.path} alt="Gallery Image" class="imgViewer h-20 xs:h-25 w-auto object-contain rounded-md" />
        <p class="text-gray3 font-bold text-xl">{image.uploadedAt}</p>
      </div>
      <button data-image-id={image.id} class="deleteImgGallery hover:cursor-pointer hover:brightness-75 transition-all duration-200">
        <Icon name="xmark" class="fill-red-500 w-4" />
      </button>
    </div>
  ))}
</section>

<button id="addImage" class="flex justify-center !w-fit px-5 !py-2 !text-lg submit-button gap-2">
  <Icon name="plus" class="fill-black w-4" />
  <span class="text-black font-bold">Agregar imagen</span>
</button>

<CustomModal id="galleryAddModal">
  <div class="flex flex-col justify-start items-center gap-5 bg-gray0 outline-2 outline-gray1 p-7 rounded-md">
    <h2 class="text-3xl font-bold text-accent">Agregar Imagen</h2>
    <div class="relative">
      <div id="fakeUpload" class="flex flex-col gap-3 justify-center items-center bg-contain bg-no-repeat bg-center w-96 aspect-square rounded-md outline-2 outline-gray2 hover:cursor-pointer hover:brightness-105 transition-all duration-200">
        <Icon name="upload" class="fill-gray2 w-20" />
        <p class="text-2xl font-bold text-gray2">Subir Imagen</p>
      </div>
      <button id="close" class="hidden p-2 rounded-full bg-red-500 hover:cursor-pointer hover:brightness-75 -translate-y-1/2 translate-x-1/2 transition-all duration-200 absolute top-0 right-0">
        <Icon name="xmark" class="fill-white w-3" />
      </button>
    </div>
    <input type="file" name="image" class="hidden" accept=".png, .jpg, .jpeg, .webp" required />
    <button type="submit" disabled class="submit-button !py-2 !w-fit px-5">Agregar</button>
  </div>
</CustomModal>

<script>
  const handleGalleryEdit = () => {
    // Add Image
    const addImageButton = document.getElementById('addImage') as HTMLButtonElement;
    const dialog = document.getElementById('galleryAddModal') as HTMLDialogElement;

    if (!dialog) return

    const closeButton = dialog.querySelector('#close') as HTMLButtonElement;
    const realUpload = dialog.querySelector("input[name='image']") as HTMLInputElement;
    const fakeUpload = dialog.querySelector("#fakeUpload") as HTMLDivElement;
    const submitButton = dialog.querySelector("button[type='submit']") as HTMLButtonElement;

    if (!addImageButton || !closeButton || !realUpload || !fakeUpload || !submitButton) return

    const showImgOnFakeUpload = (url: string) => {
      fakeUpload.style.backgroundImage = `url(${url})`;

      // Hide all the children
      Array.from(fakeUpload.children).forEach(child => {
        child.classList.add("hidden")
      })

      closeButton.classList.remove("hidden") // Show close button

      submitButton.disabled = false // Enable the submit button
    }

    const deleteImgOnFakeUpload = () => {
      fakeUpload.style.backgroundImage = "none";

      // Show the children
      Array.from(fakeUpload.children).forEach(child => {
        child.classList.remove("hidden")
      })

      closeButton.classList.add("hidden") // Hide close button

      realUpload.value = ""; // Reset the file input value

      submitButton.disabled = true // Dissable the submit button
    }

    addImageButton.addEventListener('click', () => window.customModal.show(dialog.id));
    fakeUpload.addEventListener("click", () => realUpload.click())
    closeButton.addEventListener("click", () => deleteImgOnFakeUpload())
    dialog.addEventListener("close", deleteImgOnFakeUpload)

    realUpload.addEventListener("change", e => {
      const file = (e.target as HTMLInputElement).files?.[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = (e) => {
          const url = e.target?.result as string;
          showImgOnFakeUpload(url);
        }
        reader.readAsDataURL(file);
      } else {
        deleteImgOnFakeUpload();
      }
    })

    submitButton.addEventListener("click", e => {
      e.preventDefault();
      const formData = new FormData();
      const file = realUpload.files?.[0];
      if (file) {
        formData.append('image', file);
        fetch('/api/admin/gallery', {
          method: 'POST',
          body: formData,
        }).then(res => res.json()).then(data => {
          if (data.error) {
            window.customAlert.error.show("¡Ups! Hubo un error", data.error);
          } else {
            window.customAlert.success.show("Imagen Agregada", "La imagen ha sido agregada correctamente", "", () => {
              window.location.href = window.location.href;
            });
          }
        })
      }
    })

    // Delete Images
    const deleteButtons = document.querySelectorAll('.deleteImgGallery');

    const deleteImg = (imageId: string) => {
      const formData = new FormData();
      formData.append('id', imageId);

      fetch('/api/admin/gallery', {
        method: 'DELETE',
        body: formData,
      }).then(res => res.json()).then(data => {
        if (data.error) {
          window.customAlert.error.show("¡Ups! Hubo un error", data.error);
        } else {
          window.customAlert.success.show("Imagen Eliminada", "La imagen ha sido eliminada correctamente", "", () => {
            window.location.href = window.location.href;
          });
        }
      })
    }

    deleteButtons.forEach(button => {
      button.addEventListener('click', (e) => {
        const imageId = (button as HTMLButtonElement).dataset.imageId;
        if (imageId) {
          deleteImg(imageId);
        }
      });
    });
  }

  document.addEventListener('astro:page-load', handleGalleryEdit)
</script>