---
  const { name, position, image, class: className, ...rest } = Astro.props;

  import { Image } from "astro:assets";

  let img

  const defaultImage = (await import(`../../../assets/images/team/default.webp`)).default;

  if (image === "default" || image === undefined) {
    img = defaultImage;
  } else {
    img = image
  }
  
  const imageExists = (await fetch(`${Astro.url.origin}${img}`)).ok;

  if (!imageExists) {
    img = defaultImage;
  }
---

<div class:list={[
  "flex flex-col gap-2 justify-center items-center w-[350px] max-w[350px] h-fit p-6",
  className,
  ]}>
  <div class="w-52 h-52 rounded-full relative">
    <div class="relative">
      <div class="rounded-full overflow-hidden z-10 absolute">
        <Image class="imgViewer w-52 h-52 object-cover hover:scale-110 transition-all duration-500" src={img} height="500" width="500" alt="member image" /> 
      </div>
      <Image class="w-52 h-52 object-cover rounded-full absolute blur-lg opacity-90" src={img} height="500" width="500" alt="member image" /> 
    </div>
  </div>
  <span class="text-center">
    <p class="text-center text-2xl italic text-accent">{name}</p>
    <small class="text-base text-gray3 italic">{position}</small>
  </span>
</div>