---
  const { class: className, ...rest } = Astro.props;
  import { EMAIL, PHONE, LOCATION, LOCATION_URL } from "astro:env/server"
  import Icon from "@components/common/Icon.astro";
---

<section class:list={[
  "flex flex-col gap-y-2 w-fit mx-auto text-start",
  className,
  ]}>
  {EMAIL && (
    <a class="contact-section" target="_blank" href={`mailto:${EMAIL}`}>
      <Icon name="email" class="contact-icon min-w-7 w-7 h-6 object-contain fill-gray2"/>
      <p>{EMAIL}</p>
    </a>
  )}
  {PHONE && (
    <a class="contact-section" target="_blank" href={`tel:${PHONE.replaceAll(' ', '-')}`}>
      <Icon name="phone" class="contact-icon min-w-7 w-7 h-6 object-contain fill-gray2"/>
      <p>{PHONE}</p>
    </a>
  )}
  {LOCATION && LOCATION_URL && (
    <a class="contact-section" target="_blank" href={LOCATION_URL}>
      <Icon name="landmark" class="contact-icon min-w-7 w-7 h-6 object-contain fill-gray2"/>
      <p>{LOCATION}</p>
    </a>
  )}
</section>

<style>
  @reference "../styles/global.css";

  p {
    @apply !text-lg;
  }

  .contact-section { 
    @apply flex justify-start items-start gap-x-3;
  }
</style>