---
  import { db } from "@db/connection"
  import { Event } from "@db/tables";
  import EventCard from "./EventCard.astro";
  import ComponentCarrousel from "@src/components/common/ComponentCarrousel.astro";

  const events = await db
    .select()
    .from(Event)
    .orderBy(Event.eventDate);
---

<section class="flex flex-col gap-2 max-w-full">
  <h3 class="text-xl xs:text-2xl font-bold text-text">Próximos Eventos</h3>

  {events.length > 0 ? (
    <ComponentCarrousel>
      {events.map(event => (
        <EventCard
          title={event.title}
          description={event.description}
          typeOfEvent={event.typeOfEvent}
          eventDate={event.eventDate}
          startTime={event.startTime}
          endTime={event.endTime}
          location={event.location}
          link={event.link}
        />
      ))}
    </ComponentCarrousel>
  ) : (
    <div class="text-text/50 text-center">
      No hay eventos programados.
    </div>
  )}
</section>