---
  import TopBarTemplate from "@components/common/TopBarTemplate.astro";

  const pages = ['/', '/publications', '/divulgation', '/us', '/contact', '/login'];
---

<TopBarTemplate>
  <a href={pages[0]}>Inicio</a>
  <a href={pages[1]}>Publicaciones</a>
  <a href={pages[2]}>Divulgación</a>
  <a href={pages[3]}>Sobre nosotros</a>
  <a href={pages[4]}>Contacto</a>
  <a href={pages[5]}>Iniciar Sesión</a>
</TopBarTemplate>