---
  const pages = ['/', '/publications', '/divulgation', '/us', '/contact', '/login'];

  import { Image } from 'astro:assets';

  import logo from '@assets/images/logo/logo_full.webp'
import Icon from './Icon.astro';
---

<header transition:persist class="sticky top-0 from-gray0 to-transparent bg-gradient-to-b flex justify-between items-center gap-12 sm:gap-24 pt-3 px-5 sm:px-14 backdrop-blur-xs z-10">
  <a href="/">
    <Image class="w-72 min-w-32" src={logo} alt="logo" />
  </a>

  <nav class="flex justify-between gap-10 text-2xl">
    <a href={pages[0]}>Inicio</a>
    <a href={pages[1]}>Publicaciones</a>
    <a href={pages[2]}>Divulgación</a>
    <a href={pages[3]}>Sobre nosotros</a>
    <a href={pages[4]}>Contacto</a>
    <a class="translate-y-[10%]" href={pages[5]}>
      <Icon name="user" class="h-6 w-auto fill-text" />
    </a>
  </nav>

  <button id="nav-menu" class="hidden hover:bg-gray2 border-gray2 border-2 min-w-5 sm:min-w-12 w-12 aspect-square rounded-md">
    <span class="text-lg sm:text-xl">☰</span>
    <span class="text-3xl">×</span>
  </button>
</header>

<script define:vars={{ pages }}>
  const navMenu = document.getElementById('nav-menu');

  if (navMenu) {
    navMenu.addEventListener('click', () => {
      document.querySelector('header')?.classList.toggle('active');
    });
  }

  // Close menu on page load
  document.querySelectorAll('header > nav > a')?.forEach(el => {
    el.addEventListener('click', () => {
      document.querySelector('header')?.classList.remove('active');
    });
  });

  document.addEventListener('astro:page-load', () => {
    const pathname = location.pathname;

    document.querySelectorAll('header > nav > a')?.forEach(el => el.classList.remove('text-accent'));

    if (pages.find(page => page === pathname)) {
      document.querySelectorAll(`a[href="${pathname}"]`)?.forEach(el => el.classList.add('text-accent'));
    }
  })
</script>

<style>
  @reference "../../styles/global.css";

  header > nav > a {
    @apply overflow-hidden transition-all duration-300 ease-in-out;
  }

  header > nav > a:hover {
    @apply text-accent *:fill-accent;
  }
  
  header > nav > a::after {
    content: '';
    @apply bg-accent block relative w-full h-0.5 right-[100%] transition-all duration-200 ease-in-out;
  }

  header > nav > a:hover::after {
    @apply right-0;
  }

  header > button > :nth-child(2) {
    @apply hidden;
  }

  @media (max-width: 1325px) {
    header.active {
      @apply fixed left-0 right-0 bottom-0 top-0 bg-gray0/50 flex flex-col gap-12 items-center justify-start;
    }

    header.active > a {
      @apply fixed top-12 left-5 xs:left-12 z-50;
    }
    
    header.active > a > img {
      @apply w-44 xs:w-60;
    }

    header.active > nav {
      @apply bg-gray0 border border-gray1 w-full xs:w-fit px-7 xs:px-20 py-12 rounded-lg flex-col gap-12 items-center mt-36 xs:mt-52;
    }
    
    header.active > nav > a {
      @apply w-fit text-2xl xs:text-3xl;
    }

    header.active > button {
      @apply fixed top-12 right-5 xs:right-12 z-50 xs:translate-y-4;
    }

    header.active > button > :nth-child(2) {
      @apply block;
    }

    header.active > button > :nth-child(1) {
      @apply hidden;
    }

    header:not(.active) > nav {
      @apply hidden; 
    }

    button {
      @apply block;
    }
  }
</style>