---
  const { thumbnailPath, title, type, description, authors, date, filePath, ...rest } = Astro.props;

  import Icon from "@src/components/common/Icon.astro";
  import { Image } from "astro:assets";

  const defaultImage = (await import("../../../../assets/images/default.webp")).default;

  let thumbnailUrl = thumbnailPath;

  if (!thumbnailPath || thumbnailPath === "default") {
    thumbnailUrl = defaultImage;
  } else {
    const fullPath = `${Astro.url.origin}/${thumbnailPath}`;
    try {
      const response = await fetch(fullPath);
      thumbnailUrl = response.ok ? fullPath : defaultImage;
    } catch (err) {
      thumbnailUrl = defaultImage;
    }
  }

  // Format the date to a more readable format
  const formattedDateRaw = new Date(date).toLocaleDateString("es-ES", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });

  const formattedDate = formattedDateRaw.replace(
    /(?<=\sde\s)(\w)/,
    letra => letra.toUpperCase()
  )

  const formattedAuthors = authors.join(", ");
---

<article class="flex flex-col gap-2 bg-gray0 outline-2 outline-gray2 rounded-lg w-full max-w-[400px] min-w-[350px] min-h-[630px] max-h-[630px]" {...rest}>
  { typeof thumbnailUrl !== "string" ? (
    <Image class="w-full aspect-video object-cover" src={thumbnailUrl} alt="thumbnail" />
  ): (
     <img src={thumbnailUrl} alt="thumbnail" class="w-full aspect-video object-cover">
  )}
  <section class="flex flex-col gap-3 p-5 h-full">
    <!-- Type -->
    <small class="type text-lg text-gray3">{type}</small>
    <!-- Title -->
    <h3 title={title} class="title text-2xl font-bold text-ellipsis-multiline line-clamp-3" style="-webkit-line-clamp: 3;">{title}</h3>
    <div>
      <!-- Authors -->
      <span class="flex items-center gap-1">
        <Icon class="stroke-gray3 stroke-3 min-w-4 max-w-4" name="users" />
        <p title={formattedAuthors} class="authors text-sm whitespace-nowrap overflow-hidden text-ellipsis text-gray3 font-bold">
          {formattedAuthors}
        </p>
      </span>
      <!-- Date -->
      <span class="flex items-center gap-1">
        <Icon class="stroke-gray3 stroke-3 min-w-4 max-w-4" name="calendar" />
        <p title={formattedDate} class="date text-sm whitespace-nowrap overflow-hidden text-ellipsis text-gray3 font-bold">
          {formattedDate}
        </p>
      </span>
    </div>
    <!-- Description -->
    <p class="description text-gray3 text-ellipsis-multiline line-clamp-4" style="-webkit-line-clamp: 4;">
      {description}
    </p>
    <!-- File path -->
    <a aria-label="Download File" class="filePath flex justify-center items-center w-12 h-12 aspect-square bg-gray3 rounded-md ms-auto mt-auto transition-all duration-200 ease-in-out hover:bg-gray2" href={filePath} target="_blank">
      <Icon name="download" class="fill-white w-5" />
    </a>
  </section>
</article>